Repository babajka/babajka-markup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andemerie, @tyndria, @drapegnik

chore(core): fixes for layout [#64]
  package-lock.json
  src/layout/layout.scss
  src/navbar/navbar-demo.scss
  src/navbar/navbar.ejs
  src/navbar/navbar.scss
  src/sidebar/sidebar-demo.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  static/index.html
Owners: @drapegnik, @andemerie, @tyndria

Updates
  demo/long-demo-wrap.html
  demo/short-demo-wrap.html
  index.html
  layout/layout.html
  legacy/static/images/logo/W-coloured-transparent.png
  legacy/static/images/logo/favicon-colored.png
  legacy/static/index.html
  navbar/navbar.html
  sidebar/sidebar.html
  static/index.html
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/index.html
  storybook/main.48f85e0139d8255a60d9.bundle.js
  storybook/main.53d47de0270b0e10e8c8.bundle.js
  storybook/main.53d47de0270b0e10e8c8.bundle.js.map
  storybook/main.8e09ca40ee82d1215c4b.bundle.js
  storybook/main.e2f798ac054a4bc1616b.bundle.js
  storybook/main.e2f798ac054a4bc1616b.bundle.js.map
  storybook/runtime~main.53d47de0270b0e10e8c8.bundle.js
  storybook/runtime~main.53d47de0270b0e10e8c8.bundle.js.map
  storybook/runtime~main.e2f798ac054a4bc1616b.bundle.js.map
  storybook/vendors~main.223de2358b3b089f9be1.bundle.js
  storybook/vendors~main.40c3c29f558bf1e992f6.bundle.js
  storybook/vendors~main.53d47de0270b0e10e8c8.bundle.js
  storybook/vendors~main.53d47de0270b0e10e8c8.bundle.js.map
  storybook/vendors~main.e2f798ac054a4bc1616b.bundle.js.map
Owners: @drapegnik

chore(core): fixes for layout [#64]
  package-lock.json
  src/layout/layout.scss
  src/navbar/navbar-demo.scss
  src/navbar/navbar.ejs
  src/navbar/navbar.scss
  src/sidebar/sidebar-demo.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  static/index.html
Owners: @drapegnik, @andemerie, @tyndria

chore(cards): fix flex-end bug [#65]
  .commitlintrc.js
  package-lock.json
  package.json
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/video.scss
Owners: @drapegnik, @andemerie, @tyndria

Updates
  cards/article.html
  cards/collection.html
  landing.html
  legacy/landing.html
  legacy/static/images/mock/brands/art-museum.png
  legacy/static/styles/landing.css
  legacy/static/styles/landing.min.css
  static/images/mock/brands/art-museum.png
  static/styles/bundle.css
  static/styles/bundle.min.css
  static/styles/landing.css
  static/styles/landing.min.css
  storybook/iframe.html
  storybook/main.53d47de0270b0e10e8c8.bundle.js
  storybook/main.53d47de0270b0e10e8c8.bundle.js.map
  storybook/main.591abf8ca92e5dd0ce2d.bundle.js
  storybook/main.591abf8ca92e5dd0ce2d.bundle.js.map
  storybook/runtime~main.53d47de0270b0e10e8c8.bundle.js.map
  storybook/runtime~main.591abf8ca92e5dd0ce2d.bundle.js
  storybook/runtime~main.591abf8ca92e5dd0ce2d.bundle.js.map
  storybook/vendors~main.53d47de0270b0e10e8c8.bundle.js
  storybook/vendors~main.53d47de0270b0e10e8c8.bundle.js.map
  storybook/vendors~main.591abf8ca92e5dd0ce2d.bundle.js
  storybook/vendors~main.591abf8ca92e5dd0ce2d.bundle.js.map
Owners: @drapegnik

chore(cards): extract default data [#65]
  gulpfile.js
  src/cards/cards.stories.js
  src/cards/defaultData.js
  static/images/mock/brands/art-museum.png
Owners: @drapegnik

chore(cards): minor markup fixes [#65]
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/collection.ejs
  src/cards/defaultData.js
  src/cards/location.ejs
  src/cards/person.ejs
Owners: @andemerie, @tyndria, @drapegnik

chore(cards): fix flex-end bug [#65]
  .commitlintrc.js
  package-lock.json
  package.json
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/video.scss
Owners: @drapegnik, @andemerie, @tyndria

chore(cards): extract default data [#65]
  gulpfile.js
  src/cards/cards.stories.js
  src/cards/defaultData.js
  static/images/mock/brands/art-museum.png
Owners: @drapegnik

chore(cards): minor markup fixes [#65]
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/collection.ejs
  src/cards/defaultData.js
  src/cards/location.ejs
  src/cards/person.ejs
Owners: @andemerie, @tyndria, @drapegnik

chore(cards): minor markup fixes [#65]
  CHANGELOG.md
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/collection.ejs
  src/cards/defaultData.js
  src/cards/location.ejs
  src/cards/person.ejs
Owners: @andemerie, @tyndria, @drapegnik

chore(kit): add error to input
  .commitlintrc.js
  src/kit/form/forms.scss
  src/kit/input/input.ejs
  src/kit/input/input.scss
  src/variables.scss
Owners: @drapegnik, @andemerie, @tyndria

chore(kit): change input autocomplete styles
  src/kit/input/input.scss
Owners: @andemerie, @tyndria

chore(kit): add error to input
  .commitlintrc.js
  src/kit/form/forms.scss
  src/kit/input/input.ejs
  src/kit/input/input.scss
  src/variables.scss
Owners: @drapegnik, @andemerie, @tyndria

chore(kit): change input autocomplete styles
  src/kit/input/input.scss
Owners: @andemerie, @tyndria

chore(landing): add second podcast
  landing/landing.ejs
Owners: @andemerie, @tyndria

Updates
  demo/long-demo-wrap.html
  demo/short-demo-wrap.html
  footer/footer.html
  layout/layout.html
  legacy/static/styles/bundle.css
  legacy/static/styles/bundle.min.css
  main-page/desktop-wrap.html
  main-page/mobile-wrap.html
Owners: none

feat(main): first round of blocks
  package.json
  src/blocks/articlesByTag2.ejs
  src/blocks/articlesByTag2.scss
  src/blocks/common.scss
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/tagsByTopic.scss
  src/blocks/twoInRow.ejs
  src/blocks/twoInRow.scss
  src/cards/article.ejs
  src/cards/cards.stories.js
  src/cards/defaultData.js
  src/cards/location.ejs
  src/cards/location.scss
  src/cards/video.scss
  src/main-page/xxl-wrap.ejs
  src/main-page/xxl.ejs
  static/images/mock/covers/location-galaxy.jpg
Owners: @drapegnik, @andemerie, @tyndria

chore(main): reusing default card data
  src/blocks/articlesByTag2.ejs
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/twoInRow.ejs
  src/cards/cards.stories.js
  src/cards/defaultData.js
  src/main-page/xxl.ejs
Owners: @andemerie, @tyndria, @drapegnik

chore(main): xxl main page renamed to be dekstop page
  src/main-page/desktop-wrap.ejs
  src/main-page/desktop.ejs
  src/main-page/xxl-wrap.ejs
Owners: @andemerie, @tyndria

feat(main): desktop and mobile main page markup
  src/blocks/articlesByTag2.ejs
  src/blocks/articlesByTag2.scss
  src/blocks/articlesByTag3.ejs
  src/blocks/articlesByTag3.scss
  src/blocks/common.scss
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/tagsByTopic.scss
  src/blocks/twoInRow.ejs
  src/blocks/twoInRow.scss
  src/cards/article.scss
  src/main-page/main-page.ejs
  src/main-page/mobile-wrap.ejs
Owners: @andemerie, @tyndria

feat(main): banner for desktop and mobile
  src/blocks/banner.ejs
  src/blocks/banner.scss
  src/main-page/main-page.ejs
  static/images/mock/banners/mapa-desktop.png
  static/images/mock/banners/mapa-mobile.png
Owners: @andemerie, @tyndria

feat(main): diary for desktop and mobile
  package-lock.json
  package.json
  src/blocks/articlesByTag2.scss
  src/blocks/diary.ejs
  src/blocks/diary.scss
  src/footer/footer.ejs
  src/main-page/main-page.ejs
  static/images/mock/diary/karatkievich.png
Owners: @drapegnik, @andemerie, @tyndria

fix(cards): location card background image
  src/cards/cards.stories.js
Owners: @drapegnik

Updates
  blocks/twoInRow.html
  cards/collection.html
  demo/long-demo-wrap.html
  demo/short-demo-wrap.html
  footer/footer.html
  kit/input/input.html
  landing.html
  layout/layout.html
  legacy/landing.html
  main-page/desktop-wrap.html
  main-page/main-page.html
  main-page/mobile-wrap.html
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/main.531027b4e33c95d84d69.bundle.js
  storybook/main.531027b4e33c95d84d69.bundle.js.map
  storybook/main.5e6d26f7ccf5de5a57b6.bundle.js
  storybook/main.5e6d26f7ccf5de5a57b6.bundle.js.map
  storybook/runtime~main.531027b4e33c95d84d69.bundle.js.map
  storybook/runtime~main.5e6d26f7ccf5de5a57b6.bundle.js
  storybook/runtime~main.5e6d26f7ccf5de5a57b6.bundle.js.map
  storybook/vendors~main.531027b4e33c95d84d69.bundle.js.map
  storybook/vendors~main.5e6d26f7ccf5de5a57b6.bundle.js
  storybook/vendors~main.5e6d26f7ccf5de5a57b6.bundle.js.map
Owners: @drapegnik

feat(main): tablet implemented
  src/blocks/articlesByTag2.ejs
  src/blocks/articlesByTag2.scss
  src/blocks/articlesByTag3.scss
  src/blocks/common.scss
  src/blocks/diary.scss
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/twoInRow.ejs
  src/blocks/twoInRow.scss
  src/main-page/main-page.ejs
  src/main-page/tablet-wrap.ejs
  static/images/mock/banners/mapa-tablet-large.png
  static/images/mock/banners/mapa-tablet.png
  static/images/mock/banners/mapa-touch.png
Owners: @andemerie, @tyndria

Updates
  blocks/tagsByTopic.html
  legacy/static/images/mock/banners/mapa-tablet-large.png
  legacy/static/images/mock/banners/mapa-tablet.png
  legacy/static/images/mock/banners/mapa-touch.png
  main-page/main-page.html
  main-page/tablet-wrap.html
  static/images/mock/banners/mapa-tablet-large.png
  static/images/mock/banners/mapa-tablet.png
  static/images/mock/banners/mapa-touch.png
  static/styles/bundle.css
  static/styles/bundle.min.css
Owners: none

feat(main): touch implemented (with bad location and person cards)
  src/blocks/articlesByTag2.ejs
  src/blocks/articlesByTag2.scss
  src/blocks/articlesByTag3.ejs
  src/blocks/articlesByTag3.scss
  src/blocks/common.scss
  src/blocks/diary.scss
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/tagsByTopic.scss
  src/blocks/twoInRow.ejs
  src/blocks/twoInRow.scss
  src/main-page/main-page.ejs
  src/main-page/touch-wrap.ejs
Owners: @andemerie, @tyndria

feat(cards): ms and xs-wide location and person cards are added
  src/blocks/tagsByTopic.ejs
  src/cards/common.scss
  src/cards/location.scss
  src/cards/person.scss
Owners: @andemerie, @tyndria

Updates
  blocks/articlesByTag3.html
  main-page/main-page.html
  main-page/touch-wrap.html
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/main.5e6d26f7ccf5de5a57b6.bundle.js
  storybook/main.5e6d26f7ccf5de5a57b6.bundle.js.map
  storybook/main.ad5585a7db5307c08eae.bundle.js
  storybook/main.ad5585a7db5307c08eae.bundle.js.map
  storybook/runtime~main.5e6d26f7ccf5de5a57b6.bundle.js.map
  storybook/runtime~main.ad5585a7db5307c08eae.bundle.js
  storybook/runtime~main.ad5585a7db5307c08eae.bundle.js.map
  storybook/vendors~main.5e6d26f7ccf5de5a57b6.bundle.js.map
  storybook/vendors~main.ad5585a7db5307c08eae.bundle.js
  storybook/vendors~main.ad5585a7db5307c08eae.bundle.js.map
Owners: @drapegnik

feat(main): tablet-large implemented
  src/blocks/articlesByTag2.ejs
  src/blocks/articlesByTag2.scss
  src/blocks/articlesByTag3.ejs
  src/blocks/articlesByTag3.scss
  src/blocks/common.scss
  src/blocks/diary.scss
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/twoInRow.ejs
  src/blocks/twoInRow.scss
  src/cards/common.scss
  src/cards/location.scss
  src/cards/person.scss
  src/main-page/main-page.ejs
  src/main-page/tablet-large-wrap.ejs
Owners: @andemerie, @tyndria

Updates
  blocks/articlesByTag3.html
  main-page/main-page.html
  main-page/mobile-wrap.html
  main-page/tablet-large-wrap.html
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/main.473e9dcd2b6df201eb97.bundle.js
  storybook/main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/main.ad5585a7db5307c08eae.bundle.js
  storybook/main.ad5585a7db5307c08eae.bundle.js.map
  storybook/runtime~main.473e9dcd2b6df201eb97.bundle.js
  storybook/runtime~main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/runtime~main.ad5585a7db5307c08eae.bundle.js.map
  storybook/vendors~main.473e9dcd2b6df201eb97.bundle.js
  storybook/vendors~main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/vendors~main.ad5585a7db5307c08eae.bundle.js.map
Owners: @drapegnik

fix(main): no redundant screen wrappers
  src/blocks/articlesByTag3.ejs
  src/blocks/featured.ejs
  src/blocks/twoInRow.ejs
  src/main-page/main-page.ejs
Owners: @andemerie, @tyndria

Updates
  legacy/static/styles/bundle.css
  legacy/static/styles/bundle.min.css
Owners: none

task(article): part of markup
  gulpfile.js
  package-lock.json
  src/articlePage/articlePage.ejs
  src/articlePage/articlePage.scss
  src/cards/defaultCardsData.js
  src/cards/person.ejs
  src/common.scss
  src/marginElements/defaultMarginElementsData.js
  src/marginElements/marginElements.scss
  src/marginElements/marginElements.stories.js
  src/marginElements/marginImage.ejs
  src/marginElements/marginList.ejs
  src/marginElements/marginNote.ejs
  src/marginElements/marginTable.ejs
  src/marginElements/marginYear.ejs
  src/templateVariables.json
  static/images/mock/covers/article-page-main.png
  static/images/mock/miscellaneous/article-page-image.png
  static/images/mock/miscellaneous/margin-image.png
  static/images/mock/persons/anisimava.png
  static/images/mock/persons/badzei.png
Owners: @drapegnik, @andemerie, @tyndria

task(article): finish markup
  src/articlePage/articleCitation.ejs
  src/articlePage/articleColumns.ejs
  src/articlePage/articleImage.ejs
  src/articlePage/articleOrdered.ejs
  src/articlePage/articlePage.ejs
  src/articlePage/articlePage.scss
  src/articlePage/articlePageWrap.ejs
  src/articlePage/articlePoem.ejs
  src/articlePage/articleTable.ejs
  src/articlePage/articleUnordered.ejs
Owners: @andemerie, @tyndria

feat(topics): add topics lists
  .commitlintrc.js
  gulpfile.js
  package-lock.json
  src/topics-page/defaultData.js
  src/topics-page/desktop-wrap.ejs
  src/topics-page/mobile-wrap.ejs
  src/topics-page/tablet-large-wrap.ejs
  src/topics-page/tablet-wrap.ejs
  src/topics-page/topics-page.ejs
  src/topics-page/topics-page.scss
  src/topics-page/touch-wrap.ejs
Owners: @drapegnik, @andemerie, @tyndria

fix(topics): styles for screen sizes
  src/topics-page/topics-page.scss
Owners: @andemerie, @tyndria

feat(topics): styling button-group
  src/kit/button-group/button-group.ejs
  src/kit/button-group/button-group.scss
  src/kit/kit.stories.js
  src/kit/stories.scss
Owners: @andemerie, @tyndria, @drapegnik

fix(topics): styles for screens
  src/topics-page/topics-page.scss
Owners: @andemerie, @tyndria

.github/CODEOWNERS:

# @andemerie and @tyndria responsible for the styles and markup
*.ejs @andemerie @tyndria
*.scss @andemerie @tyndria

# @drapegnik responsible for developing support,
* build stuff, deploying and etc.
.htmlhintrc @drapegnik
.prettierrc @drapegnik
*.js @drapegnik
*.yml @drapegnik
*.json @drapegnik
