Repository babajka/babajka-markup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andemerie, @tyndria, @drapegnik

.github/CODEOWNERS:

# @andemerie and @tyndria responsible for the styles and markup
*.ejs @andemerie @tyndria
*.scss @andemerie @tyndria

# @drapegnik responsible for developing support,
* build stuff, deploying and etc.
.htmlhintrc @drapegnik
.prettierrc @drapegnik
*.js @drapegnik
*.yml @drapegnik
*.json @drapegnik

task(landing): teammate sass code is extracted into a single file
  gulpfile.js
  landing/index.scss
  landing/landing.scss
  landing/teammate.ejs
  landing/teammate.scss
  package-lock.json
Owners: @drapegnik, @andemerie, @tyndria

task(landing): forcing cloudinary to return optimized image
  gulpfile.js
  landing/landing.ejs
Owners: @drapegnik, @andemerie, @tyndria

task(landing): BEM applied for the front slide
  landing/landing.ejs
  landing/landing.scss
Owners: @andemerie, @tyndria

task(landing): q_auto as an additional cloudinary option
  gulpfile.js
  landing/landing.ejs
Owners: @drapegnik, @andemerie, @tyndria

task(landing): applying BEM for the rest of the landing code
  landing/landing.ejs
  landing/landing.scss
Owners: @andemerie, @tyndria

task(landing): metatags are typographed
  landing/landing.ejs
Owners: @andemerie, @tyndria

fix(tools): add storybook, add eslint config [#55]
  .eslintrc.js
  .storybook/addons.js
  .storybook/config.js
  .storybook/styles.scss
  .storybook/utils.js
  .storybook/webpack.config.js
  README.md
  bin/deploy.sh
  gulpfile.js
  lint-staged.config.js
  package-lock.json
  package.json
  src/components/select/author.ejs
  src/components/select/select.ejs
  src/components/select/select.scss
  src/components/select/select.stories.js
  src/components/select/select__authors.ejs
  src/components/select/select__selected.ejs
  src/specials/diary/diary.ejs
  src/tiles/tile.ejs
  src/tiles/tile.stories.js
  static/index.html
Owners: @drapegnik, @andemerie, @tyndria

chore(common): avoid double importing of open sans
  .storybook/styles.scss
  src/index.scss
Owners: @andemerie, @tyndria

chore(tools): disable semantic npm publish [#58]
  .releaserc.js
  .travis.yml
Owners: @drapegnik

feat(main): implement markup
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  src/sidebar/sidebar.stories.js
Owners: @andemerie, @tyndria, @drapegnik

fix(main): add more sections, copy variables, cleaning up
  src/index.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  src/sidebar/sidebar.stories.js
  src/variables.scss
Owners: @andemerie, @tyndria, @drapegnik

feat(main): sidebar-add proper input, cleaning up
  src/index.scss
  src/input/input.ejs
  src/input/input.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  src/sidebar/sidebar.stories.js
  src/sidebar/staticData.js
  src/variables.scss
Owners: @andemerie, @tyndria, @drapegnik

feat(main): fix styles
  src/index.scss
  src/input/input.scss
  src/sidebar/sidebar.scss
Owners: @andemerie, @tyndria

feat(main): fixing bem(?), move data to separate file
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  src/sidebar/sidebar.stories.js
  src/sidebar/staticData.js
Owners: @andemerie, @tyndria, @drapegnik

task(main): add hover
  src/input/input.ejs
  src/input/input.scss
  src/sidebar/sidebar.stories.js
Owners: @andemerie, @tyndria, @drapegnik

task(main): add close icon to sidebar
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
Owners: @andemerie, @tyndria

task(main): move input to kit folder
  src/input/input.ejs
  src/kit/input/input.ejs
  src/kit/input/input.scss
  src/kit/kit.stories.js
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.stories.js
Owners: @andemerie, @tyndria, @drapegnik

chore(common): fix template vars, update input, fix stories [#60]
  .storybook/styles.scss
  src/index.scss
  src/kit/input/input.ejs
  src/kit/input/input.scss
  src/kit/kit.stories.js
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  src/sidebar/sidebar.stories.js
  src/sidebar/staticData.js
  src/templateVariables.json
  src/variables.scss
Owners: @andemerie, @tyndria, @drapegnik

task(main): add loading state to the input
  src/kit/input/input.ejs
  src/kit/input/input.scss
  src/kit/kit.stories.js
Owners: @andemerie, @tyndria, @drapegnik

task(main): fix letter spacing
  src/sidebar/sidebar.scss
Owners: @andemerie, @tyndria

task(main): doing Link "component"
  src/kit/kit.stories.js
  src/kit/link/link.ejs
  src/kit/link/link.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.stories.js
  src/variables.scss
Owners: @drapegnik, @andemerie, @tyndria

task(common): add dark theme
  src/kit/kit.stories.js
  src/kit/link/link.ejs
  src/kit/link/link.scss
  src/kit/stories.scss
  src/variables.scss
Owners: @drapegnik, @andemerie, @tyndria

task(common): audit fixes
  package-lock.json
  package.json
Owners: @drapegnik

task(common): create markup for person cards [#59]
  src/cards/cards.stories.js
  src/cards/person.ejs
  src/cards/person.scss
  static/images/mock/covers/person.png
Owners: @drapegnik, @andemerie, @tyndria

task(common): create markup for collection cards [#59]
  src/cards/cards.stories.js
  src/cards/collection.ejs
  src/cards/collection.scss
  src/index.scss
  static/images/mock/covers/collection-1.png
  static/images/mock/covers/collection-2.png
  static/images/mock/persons/mickiewicz.png
Owners: @drapegnik, @andemerie, @tyndria

task(common): create markup for brand cards [#59]
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/cards.stories.js
  static/images/mock/brands/art-museum.png
  static/images/mock/covers/brand-horizontal.png
  static/images/mock/covers/brand-vertical.png
Owners: @andemerie, @tyndria, @drapegnik

task(common): create markup for location cards [#59]
  src/cards/cards.stories.js
  src/cards/location.ejs
  src/cards/location.scss
  src/index.scss
  static/images/mock/covers/location.png
Owners: @drapegnik, @andemerie, @tyndria

task(common): create markup for video cards [#59]
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/cards.stories.js
  src/cards/collection.ejs
  src/cards/collection.scss
  src/cards/video.ejs
  src/cards/video.scss
  static/images/mock/covers/video.png
Owners: @andemerie, @tyndria, @drapegnik

task(common): create markup for article cards [#59]
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/cards.stories.js
  static/images/mock/covers/article-horizontal.png
  static/images/mock/covers/article-vertical.png
Owners: @drapegnik, @andemerie, @tyndria

task(common): changing defaults and minor fixes
  package-lock.json
  src/cards/cards.stories.js
  src/index.scss
Owners: @drapegnik, @andemerie, @tyndria

Updates
  demo/long-demo-wrap.html
  demo/long-demo.html
  demo/short-demo-wrap.html
  demo/short-demo.html
  sidebar/sidebar.html
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/main.24b6e17d19041aa08bbd.bundle.js
  storybook/main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/main.ef40adba4687f8b6d19b.bundle.js
  storybook/main.ef40adba4687f8b6d19b.bundle.js.map
  storybook/runtime~main.24b6e17d19041aa08bbd.bundle.js
  storybook/runtime~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/runtime~main.ef40adba4687f8b6d19b.bundle.js.map
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/vendors~main.ef40adba4687f8b6d19b.bundle.js.map
Owners: @drapegnik

Updates
  static/styles/bundle.css
  static/styles/bundle.min.css
Owners: none

feat(common): short&long sidebars, sidebar animation
  package-lock.json
  src/demo/long-demo-wrap.ejs
  src/demo/long-demo.ejs
  src/demo/short-demo-wrap.ejs
  src/demo/short-demo.ejs
  src/demo/wrap.ejs
  src/layout/layout.ejs
  src/layout/layout.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
Owners: @drapegnik, @andemerie, @tyndria

Updates
  legacy/static/images/logo/W-coloured-transparent.png
  legacy/static/images/logo/favicon-colored.png
  legacy/static/images/mock/persons/vladimir_korotkevich.png
  main/blocks/article-by-tag.html
  main/blocks/brand.html
  main/blocks/diary.html
  main/blocks/featured.html
  main/blocks/latest.html
  main/blocks/tags-by-topic-1-2.html
  main/blocks/tags-by-topic-2-1.html
  main/blocks/topic.html
  main/main-wrap.html
  main/main.html
  static/images/mock/persons/vladimir_korotkevich.png
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/index.html
  storybook/main.17bb7e9fd9da1bcb580e.bundle.js
  storybook/main.17bb7e9fd9da1bcb580e.bundle.js.map
  storybook/main.24b6e17d19041aa08bbd.bundle.js
  storybook/main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/main.48f85e0139d8255a60d9.bundle.js
  storybook/main.b9ef278e2646c20e2ddb.bundle.js
  storybook/runtime~main.17bb7e9fd9da1bcb580e.bundle.js
  storybook/runtime~main.17bb7e9fd9da1bcb580e.bundle.js.map
  storybook/runtime~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/vendors~main.17bb7e9fd9da1bcb580e.bundle.js
  storybook/vendors~main.17bb7e9fd9da1bcb580e.bundle.js.map
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/vendors~main.40c3c29f558bf1e992f6.bundle.js
  storybook/vendors~main.491ba99e75dec08ae7c3.bundle.js
Owners: @drapegnik

Updates
  legacy/static/images/logo/W-coloured-transparent.png
  legacy/static/images/logo/favicon-colored.png
  legacy/static/images/mock/persons/vladimir_korotkevich.png
  main/blocks/article-by-tag.html
  main/blocks/brand.html
  main/blocks/diary.html
  main/blocks/featured.html
  main/blocks/latest.html
  main/blocks/tags-by-topic-1-2.html
  main/blocks/tags-by-topic-2-1.html
  main/blocks/topic.html
  main/main-wrap.html
  main/main.html
  static/images/mock/persons/vladimir_korotkevich.png
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/index.html
  storybook/main.17bb7e9fd9da1bcb580e.bundle.js
  storybook/main.17bb7e9fd9da1bcb580e.bundle.js.map
  storybook/main.24b6e17d19041aa08bbd.bundle.js
  storybook/main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/main.48f85e0139d8255a60d9.bundle.js
  storybook/main.b9ef278e2646c20e2ddb.bundle.js
  storybook/runtime~main.17bb7e9fd9da1bcb580e.bundle.js.map
  storybook/runtime~main.24b6e17d19041aa08bbd.bundle.js
  storybook/runtime~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/vendors~main.17bb7e9fd9da1bcb580e.bundle.js
  storybook/vendors~main.17bb7e9fd9da1bcb580e.bundle.js.map
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/vendors~main.40c3c29f558bf1e992f6.bundle.js
  storybook/vendors~main.491ba99e75dec08ae7c3.bundle.js
Owners: @drapegnik

Updates
  demo/long-demo-wrap.html
  demo/short-demo-wrap.html
  layout/layout.html
  sidebar/sidebar.html
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/main.24b6e17d19041aa08bbd.bundle.js
  storybook/main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/main.2a1b1e06711252325150.bundle.js
  storybook/main.2a1b1e06711252325150.bundle.js.map
  storybook/runtime~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/runtime~main.2a1b1e06711252325150.bundle.js
  storybook/runtime~main.2a1b1e06711252325150.bundle.js.map
  storybook/vendors~main.24b6e17d19041aa08bbd.bundle.js.map
  storybook/vendors~main.2a1b1e06711252325150.bundle.js
  storybook/vendors~main.2a1b1e06711252325150.bundle.js.map
Owners: @drapegnik

fix(common): scroll and capitalize fixes
  data/sidebar.json
  src/layout/layout.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
Owners: @drapegnik, @andemerie, @tyndria

fix(common): font awesome 5; fixes from Vitalik
  .storybook/styles.scss
  gulpfile.js
  package-lock.json
  package.json
  src/footer/footer.ejs
  src/footer/footer.scss
  src/index.scss
  src/kit/input/input.ejs
  src/kit/input/input.scss
  src/kit/kit.stories.js
  src/kit/link/link.ejs
  src/kit/social-buttons/social-buttons.ejs
  src/layout/layout.ejs
  src/navbar/navbar.scss
  src/sidebar/sidebar.ejs
  src/sidebar/sidebar.scss
  src/variables.scss
Owners: @andemerie, @tyndria, @drapegnik

feat(landing): soundcloud widget added
  landing/landing.ejs
  landing/landing.scss
Owners: @andemerie, @tyndria

chore(landing): add podcast anchor
  landing/landing.ejs
  package-lock.json
Owners: @andemerie, @tyndria, @drapegnik
