Repository babajka/babajka-markup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andemerie, @tyndria, @drapegnik

.github/CODEOWNERS:

# @andemerie and @tyndria responsible for the styles and markup
*.ejs @andemerie @tyndria
*.scss @andemerie @tyndria

# @drapegnik responsible for developing support,
* build stuff, deploying and etc.
.htmlhintrc @drapegnik
.prettierrc @drapegnik
*.js @drapegnik
*.yml @drapegnik
*.json @drapegnik

fix(topics): section styles
  src/topics-page/topics-page.ejs
  src/topics-page/topics-page.scss
Owners: @andemerie, @tyndria

chore(landing): add banner for map.wir.by
  landing/landing.ejs
  landing/landing.scss
Owners: @andemerie, @tyndria

feat(kit): add ButtonGroup (init version)
  src/kit/button-group/button-group.ejs
  src/kit/button-group/button-group.scss
Owners: @andemerie, @tyndria

feat(topics): page structure
  src/topic-page/desktop-wrap.ejs
  src/topic-page/topic-page.ejs
  src/topic-page/topic-page.scss
Owners: @andemerie, @tyndria

chore(landing): temporary removing Art Museum from the list of partners
  landing/landing.ejs
Owners: @andemerie, @tyndria

chore(landing): removing a line with Art Museum
  landing/landing.ejs
Owners: @andemerie, @tyndria

Main page: desktop and mobile (#66)
  package-lock.json
  package.json
  src/blocks/articlesByTag2.ejs
  src/blocks/articlesByTag2.scss
  src/blocks/articlesByTag3.ejs
  src/blocks/articlesByTag3.scss
  src/blocks/banner.ejs
  src/blocks/banner.scss
  src/blocks/common.scss
  src/blocks/diary.ejs
  src/blocks/diary.scss
  src/blocks/featured.ejs
  src/blocks/tagsByTopic.ejs
  src/blocks/tagsByTopic.scss
  src/blocks/twoInRow.ejs
  src/blocks/twoInRow.scss
  src/cards/article.ejs
  src/cards/article.scss
  src/cards/cards.stories.js
  src/cards/common.scss
  src/cards/defaultData.js
  src/cards/location.ejs
  src/cards/location.scss
  src/cards/person.scss
  src/cards/video.scss
  src/footer/footer.ejs
  src/main-page/desktop-wrap.ejs
  src/main-page/main-page.ejs
  src/main-page/mobile-wrap.ejs
  src/main-page/tablet-large-wrap.ejs
  src/main-page/tablet-wrap.ejs
  src/main-page/touch-wrap.ejs
  static/images/mock/banners/mapa-desktop.png
  static/images/mock/banners/mapa-mobile.png
  static/images/mock/banners/mapa-tablet-large.png
  static/images/mock/banners/mapa-tablet.png
  static/images/mock/banners/mapa-touch.png
  static/images/mock/covers/location-galaxy.jpg
  static/images/mock/diary/karatkievich.png
Owners: @drapegnik, @andemerie, @tyndria

Part 1. Topics sections (#69)
  .commitlintrc.js
  gulpfile.js
  package-lock.json
  src/topics-page/defaultData.js
  src/topics-page/desktop-wrap.ejs
  src/topics-page/mobile-wrap.ejs
  src/topics-page/tablet-large-wrap.ejs
  src/topics-page/tablet-wrap.ejs
  src/topics-page/topics-page.ejs
  src/topics-page/topics-page.scss
  src/topics-page/touch-wrap.ejs
Owners: @drapegnik, @andemerie, @tyndria

chore(*): some vulnerabilities fixed
  package-lock.json
  package.json
Owners: @drapegnik

Updates
  landing.html
  legacy/landing.html
  legacy/static/images/mock/covers/article-page-main.png
  legacy/static/images/mock/miscellaneous/article-page-image.png
  legacy/static/images/mock/miscellaneous/margin-image.png
  legacy/static/images/mock/persons/anisimava.png
  legacy/static/images/mock/persons/badzei.png
  legacy/static/styles/landing.css
  legacy/static/styles/landing.min.css
  static/styles/bundle.css
  static/styles/bundle.min.css
  static/styles/landing.css
  static/styles/landing.min.css
  storybook/iframe.html
  storybook/index.html
  storybook/main.2d67f8557cff058df637.bundle.js.map
  storybook/main.394a9655c033f0de96ae.bundle.js
  storybook/main.473e9dcd2b6df201eb97.bundle.js
  storybook/main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/main.befa23d52de5e7b32f51.bundle.js
  storybook/runtime~main.2d67f8557cff058df637.bundle.js.map
  storybook/runtime~main.473e9dcd2b6df201eb97.bundle.js
  storybook/runtime~main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/vendors~main.2d67f8557cff058df637.bundle.js.map
  storybook/vendors~main.473e9dcd2b6df201eb97.bundle.js
  storybook/vendors~main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/vendors~main.c99fd920a4218fefe300.bundle.js
  storybook/vendors~main.f2a3ce195629635a01f8.bundle.js
Owners: @drapegnik

Updates
  legacy/static/images/logo/W-coloured-transparent.png
  legacy/static/images/logo/favicon-colored.png
  static/styles/bundle.css
  static/styles/bundle.min.css
  storybook/iframe.html
  storybook/index.html
  storybook/main.2d67f8557cff058df637.bundle.js
  storybook/main.2d67f8557cff058df637.bundle.js.map
  storybook/main.394a9655c033f0de96ae.bundle.js
  storybook/main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/main.8e09ca40ee82d1215c4b.bundle.js
  storybook/runtime~main.2d67f8557cff058df637.bundle.js
  storybook/runtime~main.2d67f8557cff058df637.bundle.js.map
  storybook/runtime~main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/vendors~main.223de2358b3b089f9be1.bundle.js
  storybook/vendors~main.2d67f8557cff058df637.bundle.js
  storybook/vendors~main.2d67f8557cff058df637.bundle.js.map
  storybook/vendors~main.473e9dcd2b6df201eb97.bundle.js.map
  storybook/vendors~main.f2a3ce195629635a01f8.bundle.js
Owners: @drapegnik

chore(*): up package-lock
  package-lock.json
Owners: @drapegnik

fix(kit): styles
  src/kit/button-group/button-group.scss
  src/topic-page/topic-page.ejs
  src/topic-page/topic-page.scss
Owners: @andemerie, @tyndria

chore(article): fix build
  package-lock.json
  package.json
  src/articlePage/articlePageWrap.ejs
Owners: @drapegnik, @andemerie, @tyndria

task(kit): styles for different screen sizes
  src/topic-page/mobile-wrap.ejs
  src/topic-page/tablet-large-wrap.ejs
  src/topic-page/tablet-wrap.ejs
  src/topic-page/topic-page.ejs
  src/topic-page/topic-page.scss
  src/topic-page/touch-wrap.ejs
Owners: @andemerie, @tyndria

fix(kit): desktop screen
  src/topic-page/topic-page.scss
Owners: @andemerie, @tyndria

chore(landing): add new podcast link
  landing/landing.ejs
  package-lock.json
Owners: @andemerie, @tyndria, @drapegnik

chore(landing): change podcasts order
  landing/landing.ejs
Owners: @andemerie, @tyndria

chore(landing): new podcast (Slavianskija Movy 4) added
  landing/landing.ejs
  package-lock.json
  package.json
Owners: @andemerie, @tyndria, @drapegnik

chore(landing): apple touch icon added
  landing/landing.ejs
Owners: @andemerie, @tyndria

chore(landing): non-transparent apple touch icon
  landing/landing.ejs
Owners: @andemerie, @tyndria

chore(landing): custom title for apple touch devices home screen
  landing/landing.ejs
Owners: @andemerie, @tyndria
